@import 'react-select.css';

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 30px;
}

.language-select {
	margin-bottom: 25px;
}

.form {
	margin-left: auto;
  margin-right: auto;
	width: 50%;
	margin-bottom: 50px;
	form {
		padding-left: 50px;
	}
	
	&__row {
		display: block;
	}

	&__clear-button {
		display: block;
		margin-left: 205px;
	  text-align: center;
	  margin-top: 20px;
	  width: 60px;
	}

	.Select {
		width: 50%;
		padding: 5px;
		display: inline-block;
		vertical-align: bottom;
		padding-bottom: 0;
	}

	label {
		display: inline-block;
		width: 200px;
		text-align: center;
	  position: relative;
	}
}

.results { 
	max-width: 1080px;
	margin-left: auto;
	margin-right: auto;

	&__providers-column {
		vertical-align: top;
		width: 60%;
		padding-right: 10px;

		&__providers {
			padding: 10px;

			&__left-cell {
				vertical-align: top;
				padding: 10px;
				width: 50%;
			}

			&__right-cell {
				vertical-align: top;
				padding: 10px;
				width: 50%;
			}
		}	
	}

	&__additional-column {
		vertical-align: top;
		width: 40%;
		padding-left: 10px;

		&__panel {
			margin-bottom: 50px;
			padding: 10px;
		}
	}
}

.disclaimer {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	background: #f3f3f3;
	width: 50%;
	margin-left: auto;
  margin-right: auto;
}