#toolkit-search {
  @import 'custom_bootstrap';
  @import 'custom_react_select';

  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  color: $body-color;
  text-align: left; // 3
  //background-color: $body-bg; // 2
  padding: 3em;

  .toolkit-container {
    @extend .container-fluid;

    h1 {
      font-weight: 900;
      line-height: 1;

      @include media-breakpoint-up(xl) {
        font-size: ($host-to-base-font-ratio * 3.15rem);
      }
    }
  }

  .toolkit-description {
    font-size: ($host-to-base-font-ratio * 1.25rem);
    font-weight: 300;
  }

  .toolkit-form {
    margin-bottom: ($host-to-base-font-ratio * 2rem);
  }

  .toolkit-filters {
    @extend .row;
  }

  .toolkit-filter {
    @extend .col-xl-6;
  }

  .toolkit-filter-group {
    @extend .form-group;

    label {
      font-weight: 700;
    }

    .Select-control {
      height: ($host-to-base-font-ratio * 4rem);

      @include media-breakpoint-up(xl) {
        height: ($host-to-base-font-ratio * 3rem);
      }
    }

    .Select-placeholder, .Select-value, .Select-input {
      padding: ($host-to-base-font-ratio * 0.5rem);

      @include media-breakpoint-up(xl) {
        padding: ($host-to-base-font-ratio * 0.25rem);
      }
    }
  }

  .toolkit-form-clear-button {
    @extend .btn;
    @extend .btn-secondary;
  }

  .toolkit-results {
    @extend .row;
    margin-bottom: ($host-to-base-font-ratio * 1rem);

    .toolkit-result-group {
      @extend .col-xl-6;
    }

    &-only-providers {
      .toolkit-result-group {
        @extend .col-xl-12;
      }
    }
  }

  .toolkit-result {
    margin-bottom: ($host-to-base-font-ratio * 2rem);

    h2 {
      @extend .font-weight-bold;
    }
  }

  .toolkit-result-item {
    @extend .card;
    margin-bottom: ($host-to-base-font-ratio * 1rem);

    &-body {
      @extend .card-body;

      h3 {
        @extend .card-title;
        @extend .font-weight-bold;
        display: block;
      }

      h4 {
        @extend .card-subtitle;
        @extend .font-weight-bold;
        @extend .text-black-50;
        display: block;
        font-size: ($host-to-base-font-ratio * 1rem);
        margin-bottom: ($host-to-base-font-ratio * 0.5rem);
      }
    }

    &-text {
      @extend .card-text;
    }

    &-links {
      @extend .list-unstyled;

      a {
        text-decoration: underline;
      }
    }

    &-solutions {
      list-style: disc;
    }

    &-non-provider {
      border: 0;
      margin-bottom: 0;
      font-size: ($host-to-base-font-ratio * 1.2rem);

      .toolkit-result-item-body {
        padding-right: 0;
        padding-bottom: 0;
        padding-left: 0;

        h3 {
          font-size: ($host-to-base-font-ratio * 1.2rem);
        }
      }
    }
  }

  .toolkit-disclaimer {
    background-color: #f3f3f3;
    color: #3c4542;
    padding: ($host-to-base-font-ratio * 1rem);

    div {
      margin-bottom: ($host-to-base-font-ratio * 1rem);
      text-decoration: underline;
    }
  }
}

